/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/js/admin.js
/public/js/admin.js.LICENSE.txt
/public/videos/*
/public/tinymce
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
