@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  font-family: 'Nunito', sans-serif;
}

.font-messeri {
  font-family: 'El Messiri', sans-serif;
}

.font-shrikhand {
  font-family: 'Shrikhand', cursive;
}

.swiper-container {
  width: 100%;
  height: 450px;
}

#testimonio-slider {
  height: 550px;
}
